name: Check Code Quality

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  check:
    name: Check Code Quality
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Bun
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Check linting
        run: bun run lint

      - name: Check building
        run: bun run build --filter=!@tihlde/sdk

      - name: Run tests
        run: bun run test -- --log-order=stream
