name: CI/CD

on:
  pull_request:
    branches:
      - main
      - PRODUCTION
  push:
    branches:
      - main
      - PRODUCTION

jobs:
  check:
    name: Check Code Quality
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Bun
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Check linting
        run: bun run lint

      - name: Check types
        run: bun run typecheck

      - name: Check building
        run: bun run build

      - name: Run tests
        run: bun run test -- --log-order=stream

  deploy:
    name: Deploy
    needs: check
    if: github.event_name == 'push' && github.ref == 'refs/heads/PRODUCTION'
    runs-on: ubuntu-latest
    concurrency:
      group: deployment_lock
      cancel-in-progress: false
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up SSH key
        env:
          PROXY_HOST: ${{ vars.PROXY_HOST }}
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
        run: |
          mkdir -p ~/.ssh
          echo "$SSH_PRIVATE_KEY" > ~/.ssh/key
          chmod 600 ~/.ssh/key
          ssh-keyscan -H $PROXY_HOST >> ~/.ssh/known_hosts

      - name: Deploy to OpenStack server
        env:
          PROXY_HOST: ${{ vars.PROXY_HOST }}
          HOST: ${{ vars.HOST }}
          USER: ${{ vars.USER }}
          WORKING_DIRECTORY: ${{ vars.WORKING_DIRECTORY }}
          VAULTWARDEN_MASTER_PASSWORD: ${{ secrets.VAULTWARDEN_MASTER_PASSWORD }}
          VAULTWARDEN_ITEM_ID: ${{ secrets.VAULTWARDEN_ITEM_ID }}
          ENV_RELATIVE_PATH: ${{ vars.ENV_RELATIVE_PATH }}
        run: |
          # Start ssh-agent and add the SSH key
          eval $(ssh-agent -s)
          ssh-add ~/.ssh/key

          # SSH into the server via the proxy and run deployment commands
          ssh -o StrictHostKeyChecking=no -J $USER@$PROXY_HOST $USER@$HOST << ENDSSH

          # WE ARE NOW ON THE REMOTE SERVER

          # If any command fails, the script will exit immediately with a non-zero status
          set -euo pipefail

          # Load environment variables from Vaultwarden
          cd
          ./get-env.sh "$VAULTWARDEN_MASTER_PASSWORD" "$VAULTWARDEN_ITEM_ID" "$WORKING_DIRECTORY/$ENV_RELATIVE_PATH"

          # Change permissions of .env to be readable only by the owner
          chmod 0600 "$WORKING_DIRECTORY/$ENV_RELATIVE_PATH"

          # Navigate to the working directory, pull the latest code, and run the deployment script
          cd "$WORKING_DIRECTORY"
          git fetch
          git reset --hard origin/PRODUCTION
          docker compose -f infra/docker/docker-compose.prod.yml --env-file .env up -d --build --force-recreate
          rm -f .env

          ENDSSH

